language: python
python:
  - "2.7"
  - "3.5"
# command to install dependencies
before_install:
  - sudo apt-get update
  - sudo apt-get install poppler-utils  # For pdftohtml
#install:
  #- pip install -r requirements.txt --use-mirrors
# command to run tests
script: python setup.py test
