include README.rst
include LICENSE
recursive-include pyboleto/media *
recursive-include pyboleto/templates *
recursive-include tests *
include bin/pdf_pyboleto_sample.py
include bin/html_pyboleto_sample.py
